In [82]:
import magpylib as magpy
import sqlite3
import pandas as pd
con = sqlite3.connect('database.db')
cur = con.cursor()

In [152]:
df = pd.read_sql_query("SELECT * from mag_positions", con)
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df = df[df['Timestamp'] - pd.Timestamp.now() < pd.Timedelta(5, "hours")]
df.drop_duplicates(subset = ['pos'], inplace=True)
df

,pos,m,Timestamp,chunk
0,"79, -60, 73","-930788.0, 0.0, 0.0",2022-04-24 17:00:08,net.minecraft.world.chunk.WorldChunk@25c3d2ae
2,"79, -60, 75","-930788.0, 0.0, 0.0",2022-04-24 17:00:09,net.minecraft.world.chunk.WorldChunk@25c3d2ae
4,"79, -60, 77","-930788.0, 0.0, 0.0",2022-04-24 17:00:10,net.minecraft.world.chunk.WorldChunk@48fdc833
6,"82, -60, 75","-930788.0, 0.0, 0.0",2022-04-24 17:00:12,net.minecraft.world.chunk.WorldChunk@93a1f77
8,"82, -60, 73","-930788.0, 0.0, 0.0",2022-04-24 17:00:13,net.minecraft.world.chunk.WorldChunk@93a1f77
10,"79, -59, 75","930788.0, 0.0, 0.0",2022-04-24 17:00:15,net.minecraft.world.chunk.WorldChunk@25c3d2ae
11,"93, -60, 74","-930788.0, 0.0, 0.0",2022-04-24 17:00:17,net.minecraft.world.chunk.WorldChunk@5d393006
13,"97, -60, 66","-930788.0, 0.0, 0.0",2022-04-24 17:00:19,net.minecraft.world.chunk.WorldChunk@5831025c
15,"95, -60, 56","0.0, 0.0, 930788.0",2022-04-24 17:00:20,net.minecraft.world.chunk.WorldChunk@74c01ddf
17,"87, -60, 54","930788.0, 0.0, 0.0",2022-04-24 17:00:22,net.minecraft.world.chunk.WorldChunk@6310a3f7
19,"79, -60, 52","930788.0, 0.0, 0.0",2022-04-24 17:00:23,net.minecraft.world.chunk.WorldChunk@69350d98

In [153]:
pos = df['pos'].str.split(",", expand=True).astype(float)
m = df['m'].str.split(",", expand=True).astype(float)

In [154]:
pos

       0     1     2
0   79.0 -60.0  73.0
2   79.0 -60.0  75.0
4   79.0 -60.0  77.0
6   82.0 -60.0  75.0
8   82.0 -60.0  73.0
10  79.0 -59.0  75.0
11  93.0 -60.0  74.0
13  97.0 -60.0  66.0
15  95.0 -60.0  56.0
17  87.0 -60.0  54.0
19  79.0 -60.0  52.0

In [86]:
def check_if_already_calculated():
    
    
    
    return if_calculated

In [199]:


def mag_field_at_points(x, y, z):
    mag_field = pd.DataFrame({"pos": [], "mag_field": []})

    for coords in get_sensor_coords(x, y, z):
        cube_list = []
        mag_blocks = pos[(pos[0] <= coords[0] + bounds) & (pos[0] >= coords[0] - bounds) &
                     (pos[1] <= coords[1] + bounds) & (pos[1] >= coords[1] - bounds) &
                     (pos[2] <= coords[2] + bounds) & (pos[2] >= coords[2] - bounds)]
        for i in mag_blocks.index:
            cube_list.append(magpy.magnet.Cuboid(magnetization=(m[0].iloc[i], m[1].iloc[i], m[2].iloc[i]),
                                                 dimension = (1000, 1000, 1000),
                                                 position=(pos[0].iloc[i]*1000, pos[1].iloc[i]*1000, pos[2].iloc[i]*1000)))
        sensor = magpy.Sensor(position=(coords[0]*1000, coords[1]*1000, coords[2]*1000))
        B = sensor.getB(cube_list, sumup = True)
        coordinates = f"{coords[0]},{coords[1]},{coords[2]}"
        mag_field = pd.concat([mag_field, pd.DataFrame({"pos": [coordinates], "mag_field": [B]})], ignore_index=True)

    return mag_field

def look_at_neighbors(x, y, z,bounds):
    moments = []
    neighbors = pos[(pos[0] <= x + bounds) & (pos[0] >= x - bounds) &
                     (pos[1] <= y + bounds) & (pos[1] >= y - bounds) &
                     (pos[2] <= z + bounds) & (pos[2] >= z - bounds)]
    
    for i in neighbors.index:
        moments.append(m.loc[i])
    return moments, neighbors

def a_block_away(x, y, z, bounds):    
    moments = []
    centers = []
    for i in range(-1,2):
        for j in range(-1,2):
            for k in range(-1,2):
                block = pos[(pos[0] <= x + bounds + 4 * i) & (pos[0] >= x - bounds + 4 * i) &
                            (pos[1] <= y + bounds + 4 * j) & (pos[1] >= y - bounds + 4 * j) &
                            (pos[2] <= z + bounds + 4 * k) & (pos[2] >= z - bounds + 4 * k)]
                moment = m.loc[block.index].sum()
                moments.append(moment)
         
    for i in range(-1,2):
        for j in range(-1,2):
            for k in range(-1,2):
                centers.append([x + 4*i, y + 4*j, z + 4*k])
    
    return moments, centers

def prepare_df(x,y,z,bounds):
    
    moments, centers = a_block_away(x,y,z,bounds)
    neighbor_moments, neighbors = look_at_neighbors(x,y,z,bounds)
    centers = pd.concat([pd.DataFrame(centers), pd.DataFrame(neighbors)], ignore_index=True)
    moments = pd.concat([pd.DataFrame(moments), pd.DataFrame(neighbor_moments)], ignore_index=True)
    
    return centers, moments

def get_coords(pos):
    coords = pd.DataFrame({"x":[], "y":[], "z":[]})
    for index in pos.index:
        for i in range(-4,5):
            for j in range(-4,5):
                for k in range(-4,5):
                    x = pos[0].loc[index] + i
                    y = pos[1].loc[index] + j
                    z = pos[2].loc[index] + k
                    if coords[(coords["x"] == i) & (coords["y"] == j) & (coords["z"] == k)].empty:
                        coords_ = pd.DataFrame({"x":[x], "y":[y], "z":[z]})
                        coords = pd.concat([coords, coords_], ignore_index=True)
    return coords

coords = get_coords(pos)
mag_fields = []
for i in coords.index:
    x = coords["x"].loc[i]
    y = coords["y"].loc[i]
    z = coords["z"].loc[i]
    centers, moments = prepare_df(x,y,z,1)
    magnets = []
    for i in centers.index:
        magnets.append(magpy.magnet.Cuboid(magnetization=(moments[0].loc[i], moments[1].loc[i], moments[2].loc[i]),
                                           dimension = (1000, 1000, 1000),
                                           position=(centers*1000, y*1000, z*1000)))
    sensor = magpy.Sensor(position=(x*1000, y*1000, z*1000))
    B = sensor.getB(magnets, sumup = True)
    mag_fields.append(B)

print(mag_fields)

KeyError: 0

In [198]:
if pos[pos[0] == 0].empty:
    print('DataFrame is empty!')

DataFrame is empty!

In [169]:
centers, moments = prepare_df(79, -60, 73, 1)

True
True
True
True
True
True
True
True
True
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [7]:
bounds = 3
cube_list = []
coords = pos.iloc[0]
mag_blocks = pos[(pos[0] <= pos[0].iloc[0] + bounds) & (pos[0] >= pos[0].iloc[0] - bounds) &
                 (pos[1] <= pos[1].iloc[0] + bounds) & (pos[1] >= pos[1].iloc[0] - bounds) &
                 (pos[2] <= pos[2].iloc[0] + bounds) & (pos[2] >= pos[2].iloc[0] - bounds)]

0    79.0
1   -60.0
2    73.0
Name: 0, dtype: float64

In [13]:
bounds = 6
coords = pos.iloc[0]
pos[(pos[0] <= pos[0].iloc[0] + bounds) & (pos[0] >= pos[0].iloc[0] - bounds) &
   (pos[1] <= pos[1].iloc[0] + bounds) & (pos[1] >= pos[1].iloc[0] - bounds) &
   (pos[2] <= pos[2].iloc[0] + bounds) & (pos[2] >= pos[2].iloc[0] - bounds)]

       0     1     2
0   79.0 -60.0  73.0
2   79.0 -60.0  75.0
4   79.0 -60.0  77.0
5   79.0 -60.0  77.0
6   82.0 -60.0  75.0
7   82.0 -60.0  75.0
8   82.0 -60.0  73.0
9   82.0 -60.0  73.0
10  79.0 -59.0  75.0

In [35]:
m

           0    1         2
0  -930788.0  0.0       0.0
2  -930788.0  0.0       0.0
4  -930788.0  0.0       0.0
6  -930788.0  0.0       0.0
8  -930788.0  0.0       0.0
10 -930788.0  0.0       0.0
12 -930788.0  0.0       0.0
14 -930788.0  0.0       0.0
16 -930788.0  0.0       0.0
18 -930788.0  0.0       0.0
20       0.0  0.0  930788.0
22       0.0  0.0  930788.0
24       0.0  0.0  930788.0
26       0.0  0.0  930788.0
27       0.0  0.0  930788.0
29       0.0  0.0  930788.0

In [28]:
for i in range(len(pos)):
    print(m[0].iloc[i])

-930788.0
-930788.0
-930788.0
-930788.0
-930788.0
-930788.0
-930788.0
-930788.0
-930788.0
-930788.0
0.0
0.0
0.0
0.0
0.0
0.0

In [41]:
list = []
for i in range(len(pos)):
    list.append(magpy.magnet.Cuboid(magnetization=(m[0].iloc[i], m[1].iloc[i], m[2].iloc[i]), dimension = (1000, 1000, 1000), position=(pos[0].iloc[i], pos[1].iloc[i], pos[2].iloc[i])))
sensor = magpy.Sensor(position=(0,0,0))


B = sensor.getB(list, sumup = True)
print(type(cube1))
print(B)

<class 'magpylib._src.obj_classes.class_mag_Cuboid.Cuboid'>
[ 0.52361492  0.39424903 -0.84690328]